@import url('https://fonts.googleapis.com/css2?family=Eater&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=National+Park:wght@200..800&family=Playwrite+AU+SA:wght@100..400&family=Quintessential&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;

}
:root{
    --primary: #e35f21;
    --dark: #010506;
    --secondary: #eef8f7;
    --priority-1: rgba(0, 255, 238, 0.5);
    --priority-2:rgba(6, 213, 161, 0.5);
    --priority-3: rgba(8, 230, 78, 0.5);
    --priority-4: rgba(241, 219, 12, 0.5);
    --priority-5: rgba(240, 0, 0, 0.5);
}

body{
    background-color: var(--dark);
    color: var(--secondary);
    font-family: Montserrat;
    margin: 0;
}
header{
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 3px 3px 1px #333;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #010506;
    box-shadow: 1px 3px 3px 1px #333;
    border-radius: 15px;
    padding: 1.25rem 1rem;
    flex: 1;
    min-width: 400px;
    min-height: 50vh;
}

.main{
    margin: 2rem 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.todo{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: .25rem .5rem;
    align-items: center;
    margin-bottom: 10px;
}
.todo-details{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.todo-details input[type="checkbox"]{
    width: 16px;
    height: 16px;
   
}
p.todo-text{
    margin: 0;
}
.todo-text{
    display: flex;
    flex-direction: column;
   
}
.todo-text small {
    font-size: 10px;
}


.hidden{
    display: none;
}
.barred{
    text-decoration: line-through;
}
.text-disabled{
    color: #888;
}

.edit-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.edit-form input#editTitle{
    font-size: 2rem;
    color: var(--secondary);
    background-color: transparent;
    border: none;
}
.form-row{
    display: flex;
    flex-direction: column;
}
.form-row label{
    text-transform: uppercase;
    margin-bottom: 5px;
}
.form-row input{
    font-size: 1.25rem;
    border: none;
    padding: .5rem;
    background-color: transparent;
    color: var(--secondary);

}
.lower-three select, #editProject{
    background-color: transparent;
    color: var(--secondary);
    border: none;
}
input[type="date"]{
    background-color: #333;
    color: var(--secondary);
    border: none;
}
.edit-btn{
    background-color: transparent;
    border: none;
    color: var(--secondary);
    cursor: pointer;
}

.edit-btn:hover{
    background-color: var(--primary);
}

#addTodo{
    margin-top: auto;
    font-size: 1.25rem;
    border: 1px #333 solid;
    padding: .5rem;
    background-color: transparent;
    color: var(--secondary);
    border-radius: 5px;

}
.project-selector{
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
}
#selectProject{
    background-color: transparent;
    color: var(--secondary);
    border: none;
    font-size: 1.5rem;
}
#addProjectBtn, #deleteProjectBtn{
    background-color: transparent;
    border: none;
    color: var(--secondary);
    cursor: pointer;

}
#addProjectBtn:hover,#deleteProjectBtn:hover{
    background-color: #333;
}
svg {
    fill: var(--secondary);
}

.todo-details-headers{
    display: flex;
    justify-content: space-between;
}
#deleteTodoBtn{
    background-color: transparent;
   
    border: none;
    cursor: pointer;
}
#deleteTodoBtn svg{
    fill: var(--primary);
}

.addProject-dialog{
    background-color: #010506;
    border: none;
    color: var(--secondary);
    padding: 1rem;
    border-radius: 15px;
   
    flex-direction: column;
}
.modal-actions{
    display: flex;
    justify-content: end;
}
.modal-actions button {
    background-color: transparent;
    color: var(--secondary);
    border:none;
    cursor: pointer;
}
.modal-actions button:hover{
    background-color: #333;
}
#addProjectForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#addProjectForm label {
    text-transform: uppercase;
}
#addProjectForm input{
    background-color: transparent;
    border: #333 solid 1px;
    font-size: 1rem;
    color: var(--secondary);
    padding: .75rem;
    border-radius: 5px;
}

#addProjectForm button {
    border: none;
    color: var(--secondary);
    font-size: 1rem;
    background-color: #333;
    padding: .75rem;
}
#addProjectForm button:hover{
    background-color: #222;
}
::backdrop {
  background-color: #222;
    opacity: 0.75;
  }

  .priority-1{
    background-color: var(--priority-1);
  }
  .priority-2{
    background-color: var(--priority-2);
  }
  .priority-3{
    background-color: var(--priority-3);
  }
  .priority-4{
    background-color: var(--priority-4);
  }
  .priority-5{
    background-color: var(--priority-5);
  }