@import url('https://fonts.googleapis.com/css2?family=Eater&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=National+Park:wght@200..800&family=Playwrite+AU+SA:wght@100..400&family=Quintessential&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;

}
:root{
    --primary: #e35f21;
    --dark: #010506;
    --secondary: #eef8f7;
}

body{
    background-color: var(--dark);
    color: var(--secondary);
    font-family: Montserrat;
}
header{
    display: flex;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    box-shadow: 0px 3px 3px 1px #333;
}
.card{
    background-color: #010506;
    box-shadow: 1px 3px 3px 1px #333;
    border-radius: 15px;
    padding: 1.25rem 1rem;
    flex: 1;
    min-width: 400px;
}

.main{
    margin: 2rem 1rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.todo{
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: .25rem .5rem;
    align-items: center;
}
.todo-details{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.todo-details input[type="checkbox"]{
    width: 16px;
    height: 16px;
   
}
p.todo-text{
    margin: 0;
}
.todo-text{
    display: flex;
    flex-direction: column;
   
}
.todo-text small {
    font-size: 10px;
}


.hidden{
    display: none;
}
.barred{
    text-decoration: line-through;
}
.text-disabled{
    color: #888;
}